[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
pyarrow = "==10.0.1"
pandas = "*"
snowflake-connector-python = "==3.0.0"
pandas-gbq = "==0.19.1"
google = "*"
databricks-sql-connector = "2.3.0"

[dev-packages]

[requires]
python_version = "3.9.13"
