[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "1.14.0"
pandas = "*"
pandas-gbq="0.17.9"
pydata-google-auth="1.4.0"
plotly="5.11.0"
google-cloud-bigquery = "3.2.0"

[dev-packages]

[requires]
python_version = "3.9.13"
